.navbar {
    width: 100% !important;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

.btn {
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
}

.form-control {
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
}